[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django = "*"
pytest = "*"
celery = "*"
redis = "*"
elasticsearch = "*"
django-elasticsearch-dsl = "*"
djangorestframework = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
psycopg = "*"
django-celery-email = "*"
django-redis = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.12"
